name: Backend CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node-version: [18.x, 20.x]
        mongodb-version: ['6.0']

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'pnpm'

    - uses: pnpm/action-setup@v2
      with:
        version: 8

    - name: Start MongoDB
      uses: supercharge/mongodb-github-action@1.10.0
      with:
        mongodb-version: ${{ matrix.mongodb-version }}

    - name: Start Redis
      uses: supercharge/redis-github-action@1.7.0

    - name: Install dependencies
      run: pnpm install --frozen-lockfile

    - name: Build Backend
      run: pnpm build:backend

    # - name: Run Tests
    #   run: pnpm test
    #   env:
    #     MONGODB_URI:mongodb://localhost:27017/test
    #     REDIS_URL:redis://localhost:6379
